# Python Bootcamp

In [78]:
num = 12
name = "Sam"

In [79]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

** Below is powerful since the order of the arguments does not matter. **

In [80]:
print('My number is {two} and my name is {one}'.format(one=name, two=num))

My number is 12 and my name is Sam

** String Indexing **
Each element in the string can be indexed. Indexing starts at 0

In [81]:
s = 'abcde'
s[0]

'a'

In [82]:
s[-1]

'e'

** Colon ':' ** is used for slicing <br />
Below code gets all elements ** starting at index 3 ** and beyond

In [83]:
s[3:]

'de'

Below code gets all elements ** upto (but not including) index)  ** <br/>
Note the difference in what gets included and what does not

In [84]:
s[:2]

'ab'

The code below gets all elements **  starting ** at index 2 and ** upto ** (but not including) index 4

In [85]:
s[2:4]

'cd'

### List

In [86]:
mylist = ['a', 'b', 'c']

In [87]:
mylist.append('d')

In [88]:
mylist

['a', 'b', 'c', 'd']

In [89]:
mylist[1:3]

['b', 'c']

In [90]:
mylist[0] = 1
mylist

[1, 'b', 'c', 'd']

### Nested Lists and indexing

In [91]:
nested = [1, 2, [3, 4]]

In [92]:
nested

[1, 2, [3, 4]]

In [93]:
nested[2][1]

4

### Dictionary (similar to Hash table)

In [94]:
d = {'key1':'value1', 'key2':'123'}

In [95]:
d['key2']

'123'

The value can be anything for example a list or even another dictionary as shown below

In [96]:
d = {'k1':[1,2,3]}

In [97]:
d['k1'][1]

2

In [98]:
d = {'k1':{'innerkey':[1, 2, 3]}}

In [99]:
d['k1']['innerkey'][1]

2

### Boolean

In [100]:
True

True

In [101]:
False

False

### Tuple </br> 
Same as list, but items inside a tuple can not be changed once assigned like in a list. Tuples are immutable (list is mutable), do not support item assignment. ** You want to use this if you do not want the user to change the values. **

In [102]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [120]:
mylist[0] = 5
mylist

[5, 2, 3]

In [104]:
# Tuple is assigned with paranthesis v/s square bracket
t = (1,2,3)
t

(1, 2, 3)

In [105]:
# This will give error since this is a tuple
# t[0] = 4

### Sets </br>
Contains unique values

In [106]:
s = {1,1,1,1,1,2,2,2,3,3,3,3,3,3}
s

{1, 2, 3}

In [107]:
set([1,1,1,1,1,2,2,2,2,4,4,5,5,6])
# Note that set is followed by () here not {}

{1, 2, 4, 5, 6}

In [108]:
# List used .append, set uses .add
s.add(5)
s

{1, 2, 3, 5}

### Comparison and Logical operators

In [109]:
1 > 2

False

In [110]:
(2 == 2) and (1 < 2) and (1 != 2)

True

In [111]:
(1 == 2) or (1 == 1)

True

### If, elif and else statements

In [112]:
if True:
    print ('yes')

yes

In [113]:
# The indentation in Python is important
# Python does not identify blocks of code using brackets
# It does that using spaces
if True:
    print('first')
else:
    print ('second')

first

In [114]:
x = 5
if x == 1:
    y = x
    print (y)
elif x == 2:
    y = 2*x
    print (y)
else:
    y = 3*x
    print (y)

15

### For and While loops

In [115]:
seq = [1,2,3,4,5]
for i in seq:
    print (i*2)

2
4
6
8
10

In [116]:
i = 3
while (i != 0):
    print (i)
    i = i-1

3
2
1

In [117]:
for i in range(0,5):
    print (i)

0
1
2
3
4

In [4]:
# gives 10 elements starting at 0
range(10)

range(0, 10)

In [2]:
# converts the range object to a list
# this is needed in Python3. In Python2, this would have been returned without calling the list function
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

** List Comprehension **

In [3]:
# List conprehension (for loop but backwards)
# Traditionally done with a for loop with list.append
# Finding squares of a number in a list and appending it to another list
x = [1,2,3,4]
out = [num**2 for num in x]
out

[1, 4, 9, 16]

### Functions

In [19]:
def myfunc(name='Mary'):
    # + is used for string appending
    print ('Hello ' + name + '!')

In [20]:
myfunc('John')

Hello John!

In [21]:
myfunc()

Hello Mary!

In [22]:
# explicitly passing parameters in case there are multiple
myfunc(name="Joe")

Hello Joe!

In [5]:
def square (num):
    # Documentation String in Functions; use """  
    """ 
    This is a doc string for this function
    Press Shift Tab after typing the function name
    The cursor must be on the function name (anywhere)for this to work
    This function squares a number
    """
    return num**2

In [6]:
out = square(4)
out

16

### Map and Filter Functions

In [42]:
# map is a built in function in Python that creates an iterator
# Check help documentation
# Note by default if you only use map, it will retrn a map object
# If you want a list, you will need to wrap it up in a list function
seq = [1,2,3,4,5]
list(map(square,seq))

[1, 4, 9, 16, 25]

### Lambda Function

In [43]:
# This is basically an anonymous function
# Syntax is: lambda <param>: <return_value>
# Used a lot with Pandas library
list(map(lambda var: var**2,seq))

[1, 4, 9, 16, 25]

### Filter function

In [47]:
# Similar to map function, but instead of maping, 
# we will filter out elements
# Lambda function in this case returns TRUE or FALSE only
# When you pass it through the filter fuction, it returns
# the values corresponding to the TRUE positions
list(filter(lambda num: num%2==0, seq))

[2, 4]

### Methods

In [55]:
# Provides all the functions (methods) available for an object
# type object name and press tab
s = "Hello my name is Sam"
s.lower()

'hello my name is sam'

In [57]:
# Splits a string on white spaces
# Useful for text analysis
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [63]:
# Splits on passed argument
# We can use indexing to find certain elements
tweet = "Go Sports! #Sports"
tweet.split('#')[1]

'Sports'

** Some commonly used methodds for Dictionary **

In [67]:
d = {'k1':1, 'k2':2}

In [68]:
d.keys()

dict_keys(['k1', 'k2'])

In [69]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [70]:
d.values()

dict_values([1, 2])

** Some commonly used methods for Lists **

In [76]:
# pop method will remove the last element in the list
# this can then be reassigned if needed
mylist = [1,2,3]
item = mylist.pop()

In [77]:
mylist

[1, 2]

In [78]:
item

3

In [103]:
# to pop a certain element, pass the index
mylist = [1,2,3]
mylist.pop(1)

2

### "in" operator

In [108]:
'x' in [1,2,3]

False

In [109]:
'x' in ['a', 'x', 'y']

True

### tuple unpacking

In [110]:
x = [(1,2),(3,4),(5,6)]
x[0][0]

1

In [114]:
# Unpacking tuples
for a,b in x:
    print (a)

1
3
5

# End of Python Bootcamp